<h2 id="projects" class="text-3xl sm:text-4xl md:text-6xl font-bold mb-8 text-center mt-10 px-4">
    Mes Projets
</h2>

<!-- Conteneur : Flex + Scroll horizontal sur mobile, Grid sur grand écran -->
<div
    class="flex overflow-x-auto snap-x snap-mandatory gap-5 p-5 pb-8 sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 max-w-[1920px] mx-auto">

    @for (project of projects(); track project.name) {
    <mat-card class="w-[85vw] max-w-[340px] shrink-0 snap-center sm:w-auto sm:max-w-none flex flex-col justify-between"
        appearance="outlined">
        <mat-card-header>
            <mat-card-title>{{ project.name }}</mat-card-title>
            <mat-card-subtitle class="!text-black/50">{{ project.type }} - {{ project.date }}</mat-card-subtitle>
        </mat-card-header>

        <div class="flex-1 flex flex-col justify-between gap-4">
            <mat-card-content>
                <div>
                    <p class="mb-5">
                        {{ project.description }}
                    </p>
                    <app-skills [skills]="project.skills" />
                </div>
            </mat-card-content>
            <mat-card-actions>
                @if (project.repo && project.live) {
                <a matButton [href]="project.repo" target="_blank" rel="noopener noreferrer">Voir le repo</a>
                <a matButton [href]="project.live" target="_blank" rel="noopener noreferrer">Voir le site</a>
                } @else if (project.repo) {
                <a matButton [href]="project.repo" target="_blank" rel="noopener noreferrer">Voir le repo</a>
                } @else if (project.live) {
                <a matButton [href]="project.live" target="_blank" rel="noopener noreferrer">Voir le site</a>
                } @else {
                <p class="text-xs text-gray-500">Aucun lien disponible</p>
                }
            </mat-card-actions>
        </div>
    </mat-card>
    }
</div>