<header
    class="bg-transparent md:bg-black md:backdrop-blur-md text-[#f3ece3] pointer-events-none md:pointer-events-auto">

    <div class="mx-auto flex h-16 max-w-7xl items-center gap-8 px-4 sm:px-6 lg:px-8 justify-end md:justify-between">

        <!-- Navigation Desktop -->
        <nav aria-label="Global" class="hidden md:block">
            <ul class="flex items-center gap-6 text-sm">
                <li><a class="text-white/80 transition hover:text-white" href="#">À propos de moi</a></li>
                <li><a class="text-white/80 transition hover:text-white" href="#experiences">Expériences</a></li>
                <li><a class="text-white/80 transition hover:text-white" href="#formations">Formations</a></li>
                <li><a class="text-white/80 transition hover:text-white" href="#certifications">Certifications</a>
                </li>
                <li><a class="text-white/80 transition hover:text-white" href="#projects">Mes projets</a></li>
                <li><a class="text-white/80 transition hover:text-white" href="#centers">Centres d’intérêt</a></li>
            </ul>
        </nav>

        <div class="flex items-center gap-4">
            <!-- Bouton contact Desktop -->
            <div class="hidden sm:block">
                <a class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75 dark:bg-gray-800 dark:text-white dark:hover:text-white/75"
                    href="#contact">

                    Me contacter
                </a>
            </div>

            <!-- Bouton burger flottant Mobile -->
            <button [matMenuTriggerFor]="mobileMenu"
                class="pointer-events-auto block rounded-full bg-black/85 backdrop-blur-md border border-white/20 p-3 text-white shadow-xl md:hidden hover:bg-black transition transform active:scale-95"
                aria-label="Menu mobile">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>

            <mat-menu #mobileMenu="matMenu">
                <a mat-menu-item href="#">À propos de moi</a>
                <a mat-menu-item href="#experiences">Expériences</a>
                <a mat-menu-item href="#formations">Formations</a>
                <a mat-menu-item href="#certifications">Certifications</a>
                <a mat-menu-item href="#projects">Mes projets</a>
                <a mat-menu-item href="#centers">Centres d’intérêt</a>
                <a mat-menu-item href="#contact" class="font-semibold text-teal-600">Me contacter</a>
            </mat-menu>
        </div>
    </div>

</header>