<!-- Section 1 : Hero / Présentation (Plein écran) -->
<section
    class="relative isolate min-h-svh md:min-h-[calc(108svh-4rem)] flex flex-col justify-center overflow-hidden pt-16 md:pt-0 [clip-path:ellipse(130%_100%_at_50%_0%)]">

    <!-- Image de fond optimisée -->
    <img ngSrc=" wood_background.jpg" fill priority alt="Image de fond"
        class="object-cover -z-10 brightness-40 rotate-10 scale-140" />

    <!-- Source de lumière fine en haut à droite -->
    <div
        class="pointer-events-none absolute -top-100 -right-90 -z-5 size-96 md:size-[1000px] rounded-full bg-radial from-white/15 via-primary-80/10 to-transparent blur-3xl">
    </div>

    <!-- Ma photo détourée collée en bas à droite (z-0) -->
    <img ngSrc="mypicture.png" width="600" height="800" priority alt="Emmanuel Garnier Boidun"
        class="absolute bottom-0 right-0 z-0 h-auto max-h-[75svh] md:max-h-[90svh] w-auto object-contain pointer-events-none select-none hidden md:block brightness-60" />


    <!-- Contenu texte (au-dessus du fond) -->
    <div class="ml-6 sm:ml-12 md:ml-16 relative z-10 text-primary-90 py-12">
        <h1 class="text-4xl sm:text-6xl md:text-8xl font-bold mb-3">
            Emmanuel <br />
            GARNIER BOIDUN
        </h1>

        <p class="text-xl sm:text-2xl font-medium text-primary-60 mb-4" i18n="@@hero_role">
            Développeur Full-Stack
        </p>

        <p class="text-base sm:text-lg text-primary-90 leading-relaxed max-w-2xl mb-6" i18n="@@hero_bio">
            Développeur junior depuis {{yearsOfExperience()}} ans, spécialisé en développement Full-Stack (Java / Spring
            Boot, Angular),
            curieux et motivé par la decouverte de nouveautés techniques et technilogiques.
        </p>

        <div class="text-sm sm:text-base text-primary-90 space-y-1 border-l-2 border-white/30 pl-4">
            <p><span class="text-primary-60 mr-1.5" i18n="@@hero_level_label">Niveau :</span> <span
                    i18n="@@hero_level_val">BAC
                    + 5</span></p>
            <p><span class="text-primary-60 mr-1.5" i18n="@@hero_age_label">Âge :</span> <span i18n="@@hero_age_val">{{
                    age()
                    }}
                    ans</span></p>
            <p><span class="text-primary-60 mr-1.5" i18n="@@hero_phone_label">Téléphone :</span> <span
                    i18n="@@val_phone">06 61 74 29 19</span></p>
        </div>
    </div>

</section>


<!-- Section 2 :Expériences -->
<h2 id="experiences" class="text-primary-10 text-2xl sm:text-3xl md:text-4xl font-bold mb-8 text-center mt-10"
    i18n="@@section_experiences">
    Expériences
</h2>

<section class="grid grid-cols-1 lg:grid-cols-12 gap-8 max-w-7xl mx-auto px-4 items-center ">
    <div class="lg:col-span-5">
        <app-experiences [experiences]="workExperiences()" [selectedExperienceId]="selectedExperience().id"
            (experienceSelected)="onSelectExperience($event)" />
    </div>
    <div id="infoscompany" class="flex flex-col gap-6 lg:col-span-7">
        <app-infos-company [experience]="selectedExperience()" />
        <app-skills [skills]="selectedExperience().skills" />

    </div>
</section>


<hr class="w-1/2 text-primary-10 mx-auto my-12 border-t-2" />


<!-- Section 3 : Formations -->
<h2 id="formations" class="text-primary-10 text-2xl sm:text-3xl md:text-4xl  font-bold mb-8 text-center mt-10"
    i18n="@@section_formations">
    Formations
</h2>

<section class="grid grid-cols-1 lg:grid-cols-12 gap-8 max-w-7xl mx-auto px-4 items-center mb-14 ">
    <div id="infosschool" class="flex flex-col gap-6 lg:col-span-7 order-2 lg:order-1">
        <app-infos-school [formation]="selectedFormation()" />
        <app-skills [skills]="selectedFormation().skills" />
    </div>
    <div class="lg:col-span-5 order-1 lg:order-2">
        <app-educations [formations]="schoolFormations()" [selectedFormationId]="selectedFormation().id"
            (formationSelected)="onSelectFormation($event)" />
    </div>

</section>


<!-- Section 4 : Certifications -->
<section class="relative isolate py-16 px-4 overflow-hidden">
    <!-- 1. Vague en HAUT -->
    <div class="absolute top-0 left-0 right-0 overflow-hidden leading-none z-10 pointer-events-none rotate-180">
        <svg class="relative block w-full h-12 md:h-20 text-primary-90" viewBox="0 0 1200 120"
            preserveAspectRatio="none">
            <path d="M0,0 C300,90 900,0 1200,80 L1200,120 L0,120 Z" fill="currentColor"></path>
        </svg>
    </div>

    <!-- Image de fond optimisée -->
    <img ngSrc="wood_background.jpg" fill alt="Image de fond certifications"
        class="object-cover -z-10 brightness-50 " />

    <!-- Contenu au-dessus du fond -->
    <div id="certifications" class="relative min-h-screen z-10 text-white">
        <h2 class="text-primary-90 text-2xl sm:text-3xl md:text-4xl font-bold mb-8 mt-8 text-center"
            i18n="@@section_certifications">
            Mes Certifications
        </h2>

        <app-certifications />
    </div>
    <!-- 2. Vague en BAS -->
    <div class="absolute bottom-0 left-0 right-0 overflow-hidden leading-none z-10 pointer-events-none">
        <svg class="relative block w-full h-12 md:h-20 text-primary-90" viewBox="0 0 1200 120"
            preserveAspectRatio="none">
            <path d="M0,0 C300,90 900,0 1200,80 L1200,120 L0,120 Z" fill="currentColor"></path>
        </svg>
    </div>
</section>


<!-- Section 5 : Project -->
<section>
    <app-projects />

</section>

<!-- Section 6 : Interests -->
<section
    class="relative isolate py-16 px-4 overflow-hidden  [clip-path:polygon(0_60px,100%_0,100%_calc(100%-60px),0_100%)]  ">
    <!-- Image de fond optimisée -->
    <img ngSrc="wood_background.jpg" fill alt="Image de fond certifications" class="object-cover -z-10 brightness-50" />
    <div class="relative z-10 ">
        <app-interests />
    </div>
</section>

<!-- Section 7 : Contact -->
<section>
    <app-contact />
</section>