<!-- Section 1 : Hero / Présentation (Plein écran) -->
<section
    class="relative min-h-svh md:min-h-[calc(100svh-4rem)] flex flex-col justify-center overflow-hidden pt-16 md:pt-0">

    <!-- Image de fond optimisée -->
    <img ngSrc="wood_background.jpg" fill priority alt="Image de fond" class="object-cover -z-10 brightness-50" />

    <!-- Contenu texte (au-dessus du fond) -->
    <div class="ml-6 sm:ml-12 md:ml-16 relative z-10 text-white max-w-8xl py-12">
        <h2 class="text-4xl sm:text-6xl md:text-8xl font-bold mb-3">
            GARNIER BOIDUN Emmanuel
        </h2>

        <p class="text-xl sm:text-2xl text-gray-300 font-medium mb-4">
            Développeur Full-Stack
        </p>

        <p class="text-base sm:text-lg text-gray-200 leading-relaxed max-w-2xl mb-6">
            Développeur passionné par la conception d'applications performantes et intuitives.
            Spécialisé en Full-Stack (Java / Spring Boot, Angular, React, Node.js), motivé par le travail en équipe, la
            résolution de problèmes et l'apprentissage continu.
        </p>

        <div class="text-sm sm:text-base text-gray-300 space-y-1 border-l-2 border-white/30 pl-4">
            <p><span class="text-gray-400">Niveau :</span> BAC + 5</p>
            <p><span class="text-gray-400">Âge :</span> 24 ans (22 juillet 2002)</p>
            <p><span class="text-gray-400">Téléphone :</span> 06 61 74 29 19</p>
        </div>
    </div>

</section>


<!-- Section 2 :Expériences -->
<h2 id="experiences" class="text-3xl sm:text-4xl md:text-6xl font-bold mb-8 text-center mt-10 px-4 ">
    Expériences
</h2>

<section class="grid grid-cols-1 lg:grid-cols-12 gap-8 max-w-7xl mx-auto w-full px-4 items-center">
    <div class="lg:col-span-5">
        <app-experiences [experiences]="workExperiences()" [selectedExperienceId]="selectedExperience().id"
            (experienceSelected)="onSelectExperience($event)" />
    </div>
    <div id="infoscompany" class="flex flex-col gap-6 lg:col-span-7 w-full">
        <app-infos-company [experience]="selectedExperience()" />
        <app-skills [skills]="selectedExperience().skills" />

    </div>
</section>


<div class="w-1/2 mx-auto my-12">
    <mat-divider class="!border-t-2 !border-black" />
</div>

<!-- Section 3 : Formations -->
<h2 id="formations" class="text-3xl sm:text-4xl md:text-6xl font-bold mb-8 text-center mt-10  px-4 ">
    Formations
</h2>

<section class="grid grid-cols-1 lg:grid-cols-12 gap-8 max-w-7xl mx-auto w-full px-4 items-center mb-15">
    <div id="infosschool" class="flex flex-col gap-6 lg:col-span-7 w-full order-2 lg:order-1">
        <app-infos-school [formation]="selectedFormation()" />
        <app-skills [skills]="selectedFormation().skills" />
    </div>
    <div class="lg:col-span-5 order-1 lg:order-2">
        <app-educations [formations]="schoolFormations()" [selectedFormationId]="selectedFormation().id"
            (formationSelected)="onSelectFormation($event)" />
    </div>
</section>


<!-- Section 4 : Certifications -->
<section class="relative py-16 px-4 overflow-hidden">

    <!-- Image de fond optimisée -->
    <img ngSrc="wood_background.jpg" fill alt="Image de fond certifications" class="object-cover -z-10 brightness-50" />

    <!-- Contenu au-dessus du fond -->
    <div id="certifications" class="relative z-10 text-white">
        <h2 class="text-3xl sm:text-4xl md:text-6xl font-bold mb-8 text-center">
            Mes Certifications
        </h2>

        <app-certifications />
    </div>

</section>


<!-- Section 5 : Project -->
<section id="projects">
    <app-projects />
</section>

<!-- Section 6 : Centers -->
<section class="relative py-16 px-4 overflow-hidden">
    <!-- Image de fond optimisée -->
    <img ngSrc="wood_background.jpg" fill alt="Image de fond certifications" class="object-cover -z-10 brightness-50" />
    <div id="centers" class="relative z-10 ">
        <app-centers />
    </div>
</section>

<!-- Section 7 : Contact -->
<section id="contact">
    <app-contact />
</section>