section {
    padding-left: 24px;
    padding-right: 24px;
}

.section-direction {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .section-direction {
        flex-direction: row;
        justify-content: space-between;
    }
}