<h2 id="centers" class="text-primary-90 text-2xl sm:text-3xl md:text-4xl font-bold mb-8 text-center mt-10 px-4" i18n="
    @@interests_title">
    Centres d'intérêt
</h2>

<div class="flex flex-col w-full min-h-[calc(28svh-4rem)] mx-auto px-4 items-center">
    <div class="w-full flex justify-center pb-2 mb-5">
        <mat-button-toggle-group
            class="!bg-primary-90 !shadow-md rounded-lg max-w-full overflow-x-auto snap-x snap-mandatory flex-nowrap scroll-smooth">
            @for (item of interests(); track $index) {
            <mat-button-toggle (click)="selectInterest(item)" value="{{$index}}"
                class="!text-primary-20 snap-center shrink-0 whitespace-nowrap">{{item.title}}</mat-button-toggle>
            }
        </mat-button-toggle-group>
    </div>

    <mat-card class="w-full min-h-40 !bg-primary-90  max-w-3xl" appearance="outlined">
        <mat-card-header>
            <div class="text-4xl" mat-card-avatar>{{selectedInterest().logo}}</div>
            <mat-card-title class="!text-primary-10">{{ selectedInterest().title }}</mat-card-title>
        </mat-card-header>
        <div class="p-4">
            <p class="text-secondary">
                {{ selectedInterest().description }}
            </p>
        </div>
    </mat-card>
</div>