@import 'tailwindcss';

html {
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

@theme {
    /* Primary */
    --color-primary-10: var(--mat-sys-primary-10);
    --color-primary-20: var(--mat-sys-primary-20);
    --color-primary-30: var(--mat-sys-primary-30);
    --color-primary-40: var(--mat-sys-primary-40);
    --color-primary-60: var(--mat-sys-primary-60);
    --color-primary-70: var(--mat-sys-primary-70);
    --color-primary-80: var(--mat-sys-primary-80);
    --color-primary-90: var(--mat-sys-primary-90);
    --color-primary-100: var(--mat-sys-primary-100);
    --color-primary: var(--mat-sys-primary);
    --color-on-primary: var(--mat-sys-on-primary);

    /* Secondary */
    --color-secondary-10: var(--mat-sys-secondary-10);
    --color-secondary-20: var(--mat-sys-secondary-20);
    --color-secondary-30: var(--mat-sys-secondary-30);
    --color-secondary-70: var(--mat-sys-secondary-70);
    --color-secondary-80: var(--mat-sys-secondary-80);
    --color-secondary: var(--mat-sys-secondary);
    --color-on-secondary: var(--mat-sys-on-secondary);

    /* Tertiary */
    --color-tertiary-10: var(--mat-sys-tertiary-10);
    --color-tertiary-20: var(--mat-sys-tertiary-20);
    --color-tertiary-30: var(--mat-sys-tertiary-30);
    --color-tertiary-70: var(--mat-sys-tertiary-70);
    --color-tertiary: var(--mat-sys-tertiary);
    --color-on-tertiary: var(--mat-sys-on-tertiary);

    /* Error */
    --color-error-10: var(--mat-sys-error-10);
    --color-error-20: var(--mat-sys-error-20);
    --color-error-30: var(--mat-sys-error-30);
    --color-error-70: var(--mat-sys-error-70);
    --color-error: var(--mat-sys-error);
    --color-on-error: var(--mat-sys-on-error);

}

.mat-expansion-panel-header {
    height: auto !important;
    min-height: 48px;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.mat-mdc-dialog-container {
    color-scheme: light;
}

.mat-expansion-panel-header .mat-content {
    justify-content: space-between !important;
}

.mat-expansion-panel-header-title {
    flex: 1 1 auto !important;
    min-width: 0 !important;
}

.mat-expansion-panel-header-description {
    flex: 0 0 auto !important;
    justify-content: flex-end !important;
    margin-left: 1rem !important;
}

@media print {
    @page {
        size: A4 portrait;
        margin: 0 !important;
    }

    app-header,
    app-footer {
        display: none !important;
    }

    html,
    body {
        background: #ffffff !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
        height: 100% !important;
        overflow: visible !important;
    }

    app-root,
    app-root>div {
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    }
}